<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, id: :test_question %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :test_type %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :test_answer %>
  </div>

  <div class="field">
    <%= form.label :timer %>
    <%= form.text_field :timer, id: :test_timer %>
  </div>

  <div class="field">
    <%= form.label :hint %>
    <%= form.text_field :hint, id: :test_hint %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
