<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @test.question %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.type %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @test.answer %>
</p>

<p>
  <strong>Timer:</strong>
  <%= @test.timer %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @test.hint %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
